{% extends 'accounts/main.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
{% include 'accounts/status.html' %}
<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-md-5">
			<h5>CUSTOMERS:</h5>
			<hr>
			<div class="card card-body">
				<a href="" class="btn btn-primary btn-sm btn-block">Create Customer</a>
				<table class="table table-sm">
					<tr>
						<th></th>
						<th>Customer</th>
						<th>Orders</th>
					</tr>
					{% for customer in customers%}
					<tr>
						<td><a href="{% url 'customer' customer.id%}" class="btn btn-sm btn-outline-info">View</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.phone}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>	
		</div>

		<div class="col-md-7">
			<h5>LAST 5 ORDERS</h5>
			<hr>
			<div class="card card-body">
				
				{# <a href="{% url 'create_order' %}" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#exampleModal">Create Order</a> #}
				<table class="table table-sm">
					<tr>
						<th>S.N.</th>
						<th>Product</th>
						<th>Customer</th>
						<th>Date Orderd</th>
						<th>Status</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
					{% for order in orders%}
					<tr>
						<th scope="row">{{forloop.counter}}.</th>
						<td>{{order.product}}</td>
						<td>{{order.customer}}</td>
						<td>{{order.date_created}}</td>
						<td><button class="btn btn-sm btn-secondary">{{order.status}}</button></td>
						<td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-outline-primary">Update</a></td>
						<td><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#delete">Delete</a></td>
						<form action="{% url 'delete_order' order.id %}" method="POST">
							{% csrf_token %}
							<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Delete Order</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="alert alert-danger" role="alert">
												Are You Sure You Want To Delete: {{order.product}}
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</tr>
					{% endfor %}
				</table>
			</div>	
		</div>
	</div>
</div>
{% endblock %}